body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: #ffffff;
    color: #111275;
    padding-left: 5%;
    /* Adjust as needed */
    display: flex;
    box-sizing: border-box;
}

.logo {
    font-family: 'Sublima Extra Bold', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #111275;
    margin-right: 20px;
}

.header-buttons {
    display: flex;
}

.button {
    border: none;
    background-color: #ffffff;
    color: #4f5960;
    font-family: 'Alesand Extra Bold', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 5px;
    margin-right: 2px;
    cursor: pointer;
    transition: color 0.3s;
}

.button:hover {
    color: #111275;
}

/* First Section */
.first-section-content {
    display: flex;
    margin-left: 5%;
    flex: 1;
}

.first-section-content .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.first-name,
.last-name {
    margin: 0;
}

.first-name {
    color: #999999;
    font-family: 'Kinetika Regular', sans-serif;
    font-size: 60px;
    font-weight: lighter;
}

.last-name {
    font-family: 'Helvetica';
    color: #111275;
    font-weight: 800;
    font-size: 80px;
    margin-left: 120px;
}

.vertical-bar {
    border-left: 8px solid #111275;
    flex: 1;
    width: 50px;
}

.bar-and-paragraph {
    display: flex;
    flex-direction: row;
}

.paragraph {
    color: #8c8c97;
    font-family: 'Noyh R Light', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}

.first-section-content .right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    max-width: 100%;
    max-height: 100%;
}

.horizontal-bar {
    width: 100%;
    border-top: 2px solid black;
    margin-top: 20px;
}


/*second section*/
.second-section-wrapper {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.second-section-content {
    display: flex;
    margin-top: 20px;
    background-color: black;
    color: white;
}



.second-section-content .left {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
}

.second-section-content .left img {
    max-width: 100%;
    height: auto;
}

.second-section-content .right {
    margin-top: 5%;
    margin-left: 10px;
    flex: 0 0 70%;
}

.second-section-content .right h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.second-section-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 0;
}

.second-section-content .right h4 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.second-section-content .additional-info {
    margin-left: 5%;
}

.second-section-content .right .sub-headings,
h3 {
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-right: 0px;
}

.second-section-content .right .sub-headings .fir {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    white-space: nowrap;
}

.second-section-content .right .sub-headings .sec {
    margin-left: 10%;
    margin-right: 7%;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
}

.second-section-content .right .horizontal-bar {
    width: 90%;
    border-top: 1px solid rgb(222, 217, 217);
    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.second-section-content .right .extra {
    margin-right: 15%;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}

/*third section*/

.third-section-content {
    position: relative;
    margin-bottom: 20px;
}

.third-section-content .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/faisalalikhan_background.png');
    background-size: cover;
}

.third-section-content .content {
    position: relative;
    z-index: 1;
    width: 60%;
    margin-left: auto;
}

.third-section-content .text-content {
    position: relative;
    padding-top: 40px;
}

.third-section-content h1 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: rgb(18, 18, 117);
}

.header-row-1 p {
    opacity: 0.7;
    position: relative;
    top: 15px;
    margin-left: 14%;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(28, 28, 31);
    margin-right: 10px;
}

.header-row-2 button {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 11.2px;
    font-weight: 700;
    color: rgb(18, 18, 117);
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;

}

.header-row-2 button:hover {
    background-color: rgb(18, 18, 117);
    border: 1px solid rgb(18, 18, 117);
    color: #fff;
}

.text-content {
    margin-right: 5px;
}

.header-row-1 {
    display: flex;
    align-items: end;
    gap: 10px;
    margin: 0;
}

.header-row-2 {
    display: flex;
    gap: 10px;
    margin: 0;
}

.third-section-content .logos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.third-section-content .logos img {
    width: 90px;
}

.third-section-content .video-description {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #181414;
    margin: 5px;
    margin-left: auto;
    margin-bottom: 5%;
}

.third-section-content .vid {
    width: 65%;
    max-width: 100%;
    max-height: 100%;
}

.third-section-content .description {
    width: 35%;
    padding: 20px;
    color: #fff;
}

.third-section-content .description h2 {
    margin-bottom: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 31.2064px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.third-section-content .description p {
    font-family: "Montserrat", sans-serif;
    font-size: 12.3px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    width: 90%;
    margin-left: auto;
    text-align: left;
    line-height: 2.0;
}

/*Fourth Section*/
.fourth-section {
    background-image: url('assets/team-photo.jpg');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.front {
    width: 75%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;

    /* Add this line */
}

/* Styles for the arrow buttons */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.arrow:focus {
    outline: none;
    border: none;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.arrow-img {
    width: 50px;
    height: 50px;
}

/*fifth Section*/
.fifth-section {
    margin-bottom: 50px;
    position: relative;
}

.card-video-top {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
}

#carouselExampleControls {
    width: 100%;
}

#prevButton,
#nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    z-index: 2;
}

#prevButton {
    left: 10px;
    /* Adjust as needed */
}

#nextButton {
    right: 10px;
    /* Adjust as needed */
}

#carouselExampleControls {
    width: 100%;
    padding: 0 50px 0 60px;
    /* Adjust as needed */
}

#prevButton:focus,
#nextButton:focus {
    outline: none;
}

.slick-slide {
    transition: all 0.3s ease;
    margin: 0 20px;
    /* Adjust as needed */
}

.slick-center {
    position: relative;
    transform: scale(1.1) translateY(-20px);
    z-index: 1;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.active-card {
    transform: translateY(-20px);
}

.card .card-body .card-text.message {
    text-align: center;
    font-size: 12px;
    color: black;
    font-family: "Montserrat", sans-serif;
    opacity: 0.7;
}

.card .card-body .card-text.designation {
    text-align: center;
    font-size: 12px;
    color: black;
    font-family: "Montserrat", sans-serif;
    opacity: 0.5;
}

.card .card-body .card-text.name {
    text-align: center;
    font-size: 16px;
    color: #111275;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

/*Sixth section*/
.sixth-section .card-body {
    text-align: center;
}

.sixth-section {
    position: relative;
    height: 1000px;
    margin-bottom: 10px;
    background-color: black;
}

.black-background {
    position: relative;
    padding: 50px;
    min-height: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-size: cover;
    background-position: center;
}

.social-cards {
    width: calc(100% - 50px);
    bottom: 500px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-cards .card {
    width: 18%;
    height: 250px;
    position: relative;
}

.social-cards .card:hover {
    transform: translateY(-10px);
}

.social-cards .card::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: calc(50% - 15px);
    width: 30px;
    height: 40px;
    background: white;
    transform: rotate(45deg);
}

.social-cards .card:nth-child(1) {
    margin-left: 20px;
}

.social-cards .card:nth-child(5) {
    margin-right: 20px;
}

.social-cards .card:nth-child(2),
.social-cards .card:nth-child(4) {
    margin-bottom: 60px;
}

.social-cards .card:nth-child(3) {
    margin-bottom: 100px;
}

.card-text.username {
    font-family: 'Montserrat', sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 12.8px;
    color: rgb(118, 118, 118);
}

.card-text.followers-count {
    font-family: 'Montserrat', sans-serif;
    font-size: 37.6064px;
    font-weight: 700;
    line-height: 37.6064px;
    color: rgb(28, 28, 31);
}

.card-text.followers {
    font-family: 'Montserrat', sans-serif;
    font-size: 12.0064px;
    font-weight: 400;
    line-height: 12.0064px;
    color: rgb(118, 118, 118);
}

.card-text.message {
    font-family: 'Montserrat', sans-serif;
    font-size: 12.0064px;
    font-weight: 400;
    line-height: 16.809px;
    color: rgb(76, 76, 76);
}

.sixth-section .center-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 90.4064px;
    font-weight: 800;
    line-height: 99.447px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15.5%;
}

.sixth-section .description-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 25.92px;
    color: rgb(171, 171, 171);
    text-align: center;
    padding: 20px;
    position: relative;
    top: 150px;
}

/*Seventh Section*/
.seventh-section {
    background-color: #242478;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.seventh-section .columns {
    display: flex;
    padding: 50px;
}

.column img {
    width: 100px;
    height: auto;
}


.seventh-section .column:nth-child(1) {
    width: 20%;
}

.seventh-section .column:nth-child(2),
.seventh-section .column:nth-child(3) {
    width: 15%;
}

.seventh-section .column:nth-child(4),
.seventh-section .column:nth-child(5) {
    width: 25%;
}

.seventh-section .column {
    box-sizing: border-box;
}

.seventh-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20.0064px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 20.0064px;
}

.seventh-section ul,
.seventh-section form {
    font-family: 'Montserrat', sans-serif;
    font-size: 11.008px;
    font-weight: 400;
    line-height: 11.008px;
}

.seventh-section .column ul li {
    margin: 20px 0;
}

.seventh-section .column ul li i {
    margin-right: 10px;
}

.seventh-section ul {
    list-style-type: none;
    padding: 0;
}

.seventh-section column ul li {
    background: #fff;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.seventh-section ul li,
.seventh-section form label {
    margin-bottom: 10px;
}

.seventh-section .column ul li img {
    width: 20px;
    height: 20px;
}

.seventh-section .social-icon {
    margin-right: 3px;
}

.seventh-section .column:nth-child(5) form label {
    display: block;
}

.seventh-section .column:nth-child(5) form input[type="text"] {
    width: 100%;
    padding: 10px;
}

.seventh-section form input[type="text"],
.seventh-section form button {
    display: block;
    margin-top: 20px;
}

.seventh-section .column:nth-child(5) form button {
    width: 40%;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11.2px;
    background-color: #242478;
    font-weight: 700;
    line-height: 11.2px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.seventh-section .column:nth-child(5) form button:hover {
    color: #242478;
    background-color: #ffffff;
}

.seventh-section .divider {
    border: 0;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.seventh-section .footer {
    text-align: center;
    font-size: 12px;
}

.seventh-section .divider {
    border: 0;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.seventh-section .footer {
    text-align: center;
    font-size: 12px;
}

.seventh-section .large-font {
    font-size: 12px;
}