body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: #ffffff;
    color: #111275;
    padding-left: 5%;
    display: flex;
    box-sizing: border-box;
}

.logo {
    font-family: 'Sublima Extra Bold', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #111275;
    margin-right: 20px;
}

.header-buttons {
    display: flex;
}

a {
    margin-top: 30px;
    /* Adjust the value as needed */
}

.button {
    border: none;
    background-color: #ffffff;
    color: #66717a;
    font-family: 'Alesand Extra Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px;
    margin-right: 2px;
    cursor: pointer;
    transition: color 0.3s;
}

.button:active,
.button:focus {
    outline: none;
}

.button:hover {
    color: #111275;
}

/* First Section */
.first-section-content {
    display: flex;
    margin-left: 5%;
    height: 100vh;
    flex: 1;
}


.first-section-content .left {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.first-name,
.last-name {
    margin: 0;
}

.first-name {
    margin-top: 10%;
    color: #999999;
    font-family: 'Kinetika Regular', sans-serif;
    font-size: 100px;
    font-weight: lighter;
}

.last-name {
    font-family: 'Helvetica';
    color: #111275;
    font-weight: 800;
    font-size: 120px;
    margin-left: 120px;
    margin-bottom: 5%;
}

.vertical-bar {
    border-left: 8px solid #111275;
    flex: 1;
    width: 50px;
}

.bar-and-paragraph {
    display: flex;
    flex-direction: row;
}

.paragraph {
    color: #343435;
    font-family: 'Noyh R Light', sans-serif;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 10px;

}

.first-section-content .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.first-section-content .button-container button {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #111275;
    padding: 18px 28px;
    font-size: 14px;
    border: 1px solid #aeaaaa;
    background-color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.first-section-content .button-container button:hover {
    color: white;
    background-color: #111275;
    text-decoration: underline;
}

.first-section-content .right {
    flex: 0.6;
    position: relative;
    display: flex;
    flex-direction: column;
}

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.video {
    position: relative;
    width: 100%;
    height: 90%;
}

.horizontal-bar {
    width: 100%;
    border-top: 2px solid black;
    margin-top: 20px;
}

@keyframes wrapAndOpen {
    0% {
        transform: rotateY(90deg);
        opacity: 0;
    }

    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}



/*second section*/
.second-section-wrapper {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.second-section-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url('assets/mockups/mockup12.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.second-section-content {
    display: flex;
    margin-top: 40px;
    color: white;
    margin-bottom: 50px;

}

.second-section-content .left {
    padding-top: 80px;
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
}

.second-section-content .left img {
    max-width: 100%;
    height: auto;
}

.second-section-content .right {
    padding-top: 100px;
    position: relative;
    flex: 0 0 65%;
}

.second-section-content .right h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #111275;
    text-align: center;
    margin-bottom: 30px;
}

.second-section-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-left: 5%;
    margin-top: 20px;
}

.second-section-content .right h4 {
    margin-top: 50px;
    margin-bottom: 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.second-section-content .additional-info {
    margin-left: 5%;
}

.second-section-content .right .sub-headings,
h3 {
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-right: 0px;
}

.second-section-content .right .sub-headings .fir {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #000000;
    white-space: nowrap;
}

.second-section-content .right .sub-headings .sec {
    margin-left: 10%;
    margin-right: 7%;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #000000;
}

.second-section-content .right .horizontal-bar {
    width: 90%;
    border-top: 1px solid #231c1c;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.extra-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-section-content .right .extra {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #231c1c;
    margin-bottom: 0;
}



.extra-content .second_logo1 {
    width: 170px;
    height: auto;
}

.extra-content .second_logo2 {
    width: 270px;
    height: auto;
}

.extra-content .second_logo3 {
    width: 250px;
    height: auto;
}

.extra-content .second_logo4 {
    width: 170px;
    height: auto;
}



@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .second-section-content {
        flex-direction: column;
    }

    .sub-headings {
        flex-direction: column;
    }

    .second-section-content .left,
    .second-section-content .right {
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/*third section*/
.third-section-content {
    position: relative;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.third-section-content .content {
    position: relative;
    z-index: 1;
    width: 100%;
}

.third-section-content .text-content {
    position: relative;
    padding-top: 40px;
}

.third-section-content h1 {
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: rgb(18, 18, 117);
    text-align: center;
}

.text-content {
    margin-right: 5px;
}

.third-section-content .logos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
}

.third-section-content .logos .third_logo1 {
    width: 200px;
    height: 180px;
}

.third-section-content .logos .third_logo2 {
    width: 200px;
    height: 180px;
}

.third-section-content .logos .third_logo3 {
    width: 130px;
    height: 190px;
}

.third-section-content .logos .third_logo4 {
    width: 160px;
    height: 160px;
}

.third-section-content .logos .third_logo5 {
    width: 250px;
    height: auto;
}

.third-section-content .logos .third_logo6 {
    width: 220px;
    height: auto;
}

.third-section-content .logos .third_logo7 {
    width: 200px;
    height: 200px;
}

.third-section-content .logos .third_logo8 {
    width: 200px;
    height: 200px;
}

.third-section-content .logos .third_logo9 {
    width: 200px;
    height: 200px;
}

.third-section-content .logos .third_logo10 {
    width: 200px;
    height: 200px;
}

.third-section-content .logos .third_logo11 {
    width: 250px;
    height: 200px;
}

.third-section-content .logos .third_logo12 {
    width: 260px;
    height: 230px;
}

@media (max-width: 768px) {
    .header-row-1 {
        flex-direction: column;
        /* Stack the elements vertically */
        align-items: center;
        /* Center align the elements */
    }

    .logos {
        flex-wrap: wrap;
        /* Allow the logos to wrap to the next line */
        justify-content: center;
        /* Center the logos */
    }

    .logos img {
        width: 45%;
        /* Adjust the width of the logos */
        margin-bottom: 10px;
        /* Add some space below each logo */
    }
}

/*Fourth Section*/
.black-background {
    background-color: rgb(255, 255, 255);
}

.fourth-section-heading {
    font-family: Montserrat, sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: rgb(18, 18, 117);
    margin-bottom: 50px;
    text-align: center;
}

.fourth-section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    width: 75%;
    height: 550px;
    margin: auto;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
}

/* Styles for the arrow buttons */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.arrow:focus {
    outline: none;
    border: none;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.arrow-img {
    width: 50px;
    height: 50px;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    /* other styles */

    .fourth-section {
        background-image: none;
        /* Remove the background image */
    }

    .front {
        width: 100%;
        /* Make the front images take up the full width */
        height: auto;
        /* Adjust the height as needed */
        margin: 0;
        /* Remove the margins */
    }

    /* .arrow class removed */
}


/*fifth Section*/
.fifth-section {
    margin-bottom: 50px;
    position: relative;
}

.card-video-top {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
}

#carouselExampleControls {
    width: 100%;
}

#prevButton,
#nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    z-index: 2;
}

#prevButton {
    left: 10px;
    /* Adjust as needed */
}

#nextButton {
    right: 10px;
    /* Adjust as needed */
}

#carouselExampleControls {
    width: 100%;
    padding: 0 50px 0 60px;
    /* Adjust as needed */
}

#prevButton:focus,
#nextButton:focus {
    outline: none;
}

.slick-slide {
    transition: all 0.3s ease;
    margin: 0 20px;
    /* Adjust as needed */
}

.slick-center {
    position: relative;
    transform: scale(1.1) translateY(-20px);
    z-index: 1;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.active-card {
    transform: translateY(-20px);
}

.card .card-body .card-text.message {
    text-align: center;
    font-size: 12px;
    color: black;
    font-family: "Montserrat", sans-serif;
    opacity: 0.7;
}

.card .card-body .card-text.designation {
    text-align: center;
    font-size: 12px;
    color: black;
    font-family: "Montserrat", sans-serif;

}

.card .card-body .card-text.name {
    text-align: center;
    font-size: 16px;
    color: #111275;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}


/* Hide arrow buttons on mobile */
@media (max-width: 768px) {

    /* Adjust breakpoint as needed */
    .fifth-section #prevButton,
    .fifth-section #nextButton {
        display: none;
    }
}

/* Ensure only one carousel item is visible at a time */
.fifth-section .carousel .carousel-item {
    flex: 0 0 auto;
    max-width: 100%;
}

/*Sixth section*/
.sixth-section .card-body {
    text-align: center;
}

.sixth-section {
    position: relative;
    height: 1000px;
    margin-bottom: 10px;
}

.sixth-section .black-background {
    position: relative;
    padding: 50px;
    min-height: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.background {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-size: cover;
    background-position: center;
}

.social-cards {
    width: calc(100% - 50px);
    bottom: 500px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-cards .card {
    width: 18%;
    height: 250px;
    position: relative;
}

.social-cards .card:hover {
    transform: translateY(-10px);
}

.social-cards .card::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: calc(50% - 15px);
    width: 30px;
    height: 40px;
    background: white;
    transform: rotate(45deg);
}

.social-cards .card:nth-child(1) {
    margin-left: 20px;
}

.social-cards .card:nth-child(5) {
    margin-right: 20px;
}

.social-cards .card:nth-child(2),
.social-cards .card:nth-child(4) {
    margin-bottom: 60px;
}

.social-cards .card:nth-child(3) {
    margin-bottom: 100px;
}

.card-text.username {
    font-family: 'Montserrat', sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 12.8px;
    color: rgb(118, 118, 118);
}

.card-text.followers-count {
    font-family: 'Montserrat', sans-serif;
    font-size: 37.6064px;
    font-weight: 700;
    line-height: 37.6064px;
    color: rgb(28, 28, 31);
}

.card-text.followers {
    font-family: 'Montserrat', sans-serif;
    font-size: 12.0064px;
    font-weight: 400;
    line-height: 12.0064px;
    color: rgb(118, 118, 118);
}

.sixth-section .card-text.message {
    font-family: 'Montserrat', sans-serif;
    font-size: 12.0064px;
    font-weight: 400;
    line-height: 0.809px;
    color: rgb(76, 76, 76);
}

.sixth-section .center-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 90.4064px;
    font-weight: 800;
    line-height: 99.447px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15.5%;
}

.sixth-section .description-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 25.92px;
    color: rgb(171, 171, 171);
    text-align: center;
    padding: 20px;
    position: relative;
    top: 30px;
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .sixth-section {
        height: auto;
    }

    .social-cards {
        width: 100%;
        position: relative;
        /* Change to relative positioning */
        flex-direction: column;
        align-items: center;
        bottom: auto;
        /* Remove bottom positioning */
    }

    .social-cards .card {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }

    .sixth-section .center-text {
        display: none;
    }

    .sixth-section .description-text {
        position: relative;
        top: auto;

    }
}

/*Seventh Section*/
.seventh-section {
    background-color: #242478;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.seventh-section .columns {
    display: flex;
    padding: 50px;
}

.column img {
    width: 100px;
    height: auto;
}


.seventh-section .column:nth-child(1) {
    width: 20%;
}

.seventh-section .column:nth-child(2),
.seventh-section .column:nth-child(3) {
    width: 15%;
}

.seventh-section .column:nth-child(4),
.seventh-section .column:nth-child(5) {
    width: 25%;
}

.seventh-section .column {
    box-sizing: border-box;
}

.seventh-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20.0064px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 20.0064px;
}

.seventh-section ul,
.seventh-section form {
    font-family: 'Montserrat', sans-serif;
    font-size: 11.008px;
    font-weight: 400;
    line-height: 11.008px;
}

.seventh-section .column ul li {
    margin: 20px 0;
}

.seventh-section .column ul li i {
    margin-right: 10px;
}

.seventh-section ul {
    list-style-type: none;
    padding: 0;
}

.seventh-section column ul li {
    background: #fff;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.seventh-section ul li,
.seventh-section form label {
    margin-bottom: 10px;
}

.seventh-section .column ul li img {
    width: 20px;
    height: 20px;
}

.seventh-section .social-icon {
    margin-right: 3px;
}

.seventh-section .column:nth-child(5) form label {
    display: block;
}

.seventh-section .column:nth-child(5) form input[type="text"] {
    width: 100%;
    padding: 10px;
}

.seventh-section form input[type="text"],
.seventh-section form button {
    display: block;
    margin-top: 20px;
}

.seventh-section .column:nth-child(5) form button {
    width: 40%;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11.2px;
    background-color: #242478;
    font-weight: 700;
    line-height: 11.2px;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.seventh-section .column:nth-child(5) form button:hover {
    color: #242478;
    background-color: #ffffff;
}

.seventh-section .divider {
    border: 0;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.seventh-section .footer {
    text-align: center;
    font-size: 12px;
}

.seventh-section .divider {
    border: 0;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.seventh-section .footer {
    text-align: center;
    font-size: 12px;
}

.seventh-section .large-font {
    font-size: 12px;
}

/* Styles for mobile */
@media (max-width: 768px) {
    .seventh-section .columns {
        flex-direction: column;
    }

    .seventh-section .column:nth-child(1) {
        margin-bottom: 20px;
        order: -1;
    }

    .seventh-section .column:nth-child(4),
    .seventh-section .column:nth-child(5) {
        width: 100%;
    }

    .seventh-section .column:nth-child(2),
    .seventh-section .column:nth-child(3) {
        display: none;
    }
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}