/*third section*/
.third-section-content {
    position: relative;
    height: 50vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
    background-color: #ffffff;
}

.third-section-content .content {
    position: relative;
    z-index: 1;
    width: 100%;
}

.third-section-content .text-content {
    position: relative;
    padding-top: 40px;
}

.third-section-content h1 {
    font-family: Montserrat, sans-serif;
    font-size: 12vh;
    font-weight: 700;
    color: rgb(18, 18, 117);
    text-align: center;
}

.text-content {
    margin-right: 5px;
}

.third-section-content .logos {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;

}

.third-section-content .logos .third_logo1 {
    width: 25vh;
    height: 25vh;
    margin-right: 5vh;
 
}

.third-section-content .logos .third_logo2 {
    width: 25vh;
    height: 25vh;
    margin-right: 7vh;
}

.third-section-content .logos .third_logo3 {
    width: 17vh;
    height: 25vh;
    margin-right: 7vh;
}

.third-section-content .logos .third_logo4 {
    width: 23vh;
    height: 21vh;
    margin-right: 7vh;
}

.third-section-content .logos .third_logo5 {
    width: 35vh;
    height: 27vh;
    margin-right: 7vh;
}

.third-section-content .logos .third_logo6 {
    width: 35vh;
    height: 29vh;

}

.third-section-content .logos .third_logo7 {
    width: 27vh;
    height: 27vh;
    margin-right: 3vh;
}

.third-section-content .logos .third_logo8 {
    width: 27vh;
    height: 27vh;
    margin-right: 3vh;
}

.third-section-content .logos .third_logo9 {
    width: 27vh;
    height: 27vh;
    margin-right: 3vh;
}

.third-section-content .logos .third_logo10 {
    width: 27vh;
    height: 27vh;
    margin-right: 3vh;
}

.third-section-content .logos .third_logo11 {
    width: 30vh;
    height: 25vh;
    margin-right: 3vh;
}

.third-section-content .logos .third_logo12 {
    width: 31vh;
    height: 27vh;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .third-section-content {
        height: auto;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }

    .third-section-content h1 {
        font-size: 8vh;
    }

    .third-section-content .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .third-section-content .logos>div {
        margin-bottom: 5vh;
    }

    .third-section-content .logos .third_logo1,
    .third-section-content .logos .third_logo2,
    .third-section-content .logos .third_logo3,
    .third-section-content .logos .third_logo4,
    .third-section-content .logos .third_logo5,
    .third-section-content .logos .third_logo6,
    .third-section-content .logos .third_logo7,
    .third-section-content .logos .third_logo8,
    .third-section-content .logos .third_logo9,
    .third-section-content .logos .third_logo10,
    .third-section-content .logos .third_logo11,
    .third-section-content .logos .third_logo12 {
        width: 20vh;
        height: auto;
        margin-right: 2vh;
    }
}

@media (max-width: 480px) {
    .third-section-content {
        height: auto;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }

    .third-section-content h1 {
        font-size: 6vh;
    }

    .third-section-content .text-content {
        padding-top: 20px;
    }

    .third-section-content .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .third-section-content .logos>div {
        margin-bottom: 3vh;
    }

    .third-section-content .logos .third_logo1,
    .third-section-content .logos .third_logo2,
    .third-section-content .logos .third_logo5,
    .third-section-content .logos .third_logo6,
    .third-section-content .logos .third_logo7,
    .third-section-content .logos .third_logo8,
    .third-section-content .logos .third_logo9,
    .third-section-content .logos .third_logo10,
    .third-section-content .logos .third_logo11,
    .third-section-content .logos .third_logo12 {
        width: 18vh;
        height: auto;
        margin-right: 1vh;
    }

    .third-section-content .logos .third_logo3,
    .third-section-content .logos .third_logo4{
            width: 18vh;
            height: 15vh;
            margin-right: 1vh;
    }
}